= simple_form_for @recipe, html: { multipart: true } do |f|
  - if @recipe.errors.any?
    #errors
      %p
        = @recipe.errors.count
        Prevented this recipe from savings
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  .panel-body
    = f.input :title, input_html: { class: 'form-control' }
    = f.input :description, input_html: { class: 'form-control' }
    = f.input :image, input_html: { class: 'form-control' }

    .row
      .col-md-6
        %h3 Bahan-bahan
        #bahans
          = f.simple_fields_for :bahans do |bahan|
            = render 'bahan_fields', f: bahan
          .links
            = link_to_add_association 'Tambah Bahan', f, :bahans, class: "btn btn-default add-button"

      .col-md-6
        %h3 Tahap memasak
        #tahapans
          = f.simple_fields_for :tahapans do |tahapan|
            = render 'tahapan_fields', f: tahapan
          .links
            = link_to_add_association 'Tambah', f, :tahapans, class: "btn btn-default add-button"

  = f.button :submit, class: "btn btn-primary"